.top_margin {
    margin-top: 30px !important;
}

#logo, #profilka {
    margin-top: 10px;
}
#map, #map_2 {
    height: 100%;
}

#isci_prevoznika {
    margin-top: 5px;
}

#potrditev_prevoznika, #potrditev_2 {
    margin-bottom: 30px;
}
